<%= button_to "Log Out", destroy_user_session_path, method: :delete %>
<h2>Welcome <%= current_user.first_name %></h2>
<hr />
<%= link_to "Add Assignment", new_assignments_path %>
<h5>Your Assignments</h5>
<ul>
  <% @assignments.each do |assignment| %>
    <li>
      <%= link_to assignment.name, assignments_path(assignment) %> - <%= assignment.grade %>%
      <%#This was originally going to link to the assignment show page, but I was having trouble finding assignment id for some reason%>
    </li>
  <% end %>
</ul>