<h1>New Assignment</h1>
<%= form_with(model: @assignment, local: true) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, placeholder: "Name" %>
  </div>
  <div class="field">
    <%= f.label :grade %>
    <%= f.number_field :grade, min: 0, max: 100 %>
  </div>
  <%= f.submit %>
<% end %>